@mixin local-p-strips {
  @include local-p-strip-suru-dark;
}

@mixin local-p-strip-suru-dark {
  .p-strip--suru-dark {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal;
    background-color: #111;
    background-image: linear-gradient(
        to bottom left,
        rgba(216, 216, 216, 0.54) 0,
        rgba(216, 216, 216, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.54) 0,
        rgba(228, 228, 228, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
    background-position: top right, top left, left top;
    background-repeat: no-repeat;
    background-size: 77% 115%, 71% 104%, 100% 99.8%;
    color: $color-x-light;
  }
}
