{% extends 'base_layout.html' %}

{% block title %}Charmed Kubeflow tutorials{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1YetdDlPGhz13jYG748DYsmIMlnaI6pA4glGzCsImzzA/edit#heading=h.jegvyy2vztti{% endblock %}
{% block meta_description %}Learn what you can do with Charmed Kubeflow and how, through a series of tutorials. Deploy the Charmed Kubeflow AI/MLOps platform with 24/7 support on any cloud.{% endblock %}

{% block content %}
<section class="p-strip">
  <div class="u-fixed-width">
    <h1 class="p-heading--2">Tutorials</h1>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row u-equal-height">
    {% for item in tutorials %}
    <div class="col-4 blog-p-card--post">
      <header class="blog-p-card__header--tutorial">
        <h5 class="p-muted-heading u-no-margin--bottom">
          {{ item.categories.name }}
        </h5>
      </header>
      <div class="blog-p-card__content">
        <h3 class="p-heading--3 u-nomargin--top u-no-margin--bottom">
          <a href="{{ item.link }}">{{ item.title | safe }}</a>
        </h3>
        <p class="u-sv3">{{ item.summary | safe }}</p>
      </div>
      <footer class="blog-p-card__footer">
        Difficulty:<span class="l-tutorials-meter l-tutorials-meter--{{ item.difficulty }}">{{ item.difficulty }} out of 5</span>
      </footer>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
