{% extends 'base_layout.html' %}
{% block title %}Run Kubeflow anywhere, easily{% endblock %}
{% block meta_description %}Open source Python operators for Kubeflow on-rails. For workstations, multi-cloud and edge.{% endblock meta_description%}

{% block content %}
<section class="p-strip--suru">
  <div class="row u-equal-height">
    <div class="col-6 u-vertically-center">
      <div>
        <h1>Kubeflow AI and MLOps at any scale</h1>
        <p class="p-heading--4">Pure open source operators simplify Kubeflow, on any cloud.</p>
        <p>A complete solution for sophisticated data science labs. Deploy and integrate Kubeflow at any scale. Upgrades and security updates - all supported in the free, open source distribution.</p>
        <p>
          <a href="/docs/install" class="p-button--positive">Install now</a>
          <a href="https://ubuntu.com/engage/kubeflow-operations-guide" class="p-button">Watch Operations Guide</a>
        </p>
      </div>
    </div>
    <div class="col-6 u-align--center u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/10400c98-Charmed-kubeflow-Topology-header.svg",
          alt="",
          width="350",
          height="312",
          loading="eager",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-3">
      <p class="p-heading--3">Accelerate MLOps</p>
      <ul class="p-list--divided">
        <li class="p-list__item is-ticked">One solution, any cloud</li>
        <li class="p-list__item is-ticked">Multi-user collaboration</li>
        <li class="p-list__item is-ticked">Parallel training at any scale</li>
        <li class="p-list__item is-ticked">TensorFlow, MXNet, PyTorch and more</li>
      </ul>
    </div>
    <div class="col-3">
      <p class="p-heading--3">Cloud ready</p>
      <ul class="p-list--divided">
        <li class="p-list__item is-ticked">GPU acceleration</li>
        <li class="p-list__item is-ticked">Ready to run on Amazon EKS</li>
        <li class="p-list__item is-ticked">Ready to run on Azure AKS</li>
      </ul>
    </div>
    <div class="col-3">
      <p class="p-heading--3">Servers and VMs</p>
      <ul class="p-list--divided">
        <li class="p-list__item is-ticked">Runs on Kubernetes</li>
        <li class="p-list__item is-ticked">Bare metal deployment</li>
	<li class="p-list__item is-ticked">VM deployment</li>
        <li class="p-list__item is-ticked">NVIDIA GPU autoconfig</li>
      </ul>
    </div>
    <div class="col-3">
      <p class="p-heading--3">No restrictions</p>
      <ul class="p-list--divided">
        <li class="p-list__item is-ticked">Free to use in any environment</li>
        <li class="p-list__item is-ticked">Open source software</li>
        <li class="p-list__item is-ticked">24/7 support available</li>
	<li class="p-list__item is-ticked">Expert services to help get you up and running</li>
      </ul>
    </div>
  </div>
 </section>

 <section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-5 u-align--center u-hide--small u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/26e28883-Industrial+ML.svg",
          alt="",
          width="350",
          height="200",
          hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-7">
      <h2>The complete MLOps lifecycle from concept to production</h2>
      <p class="p-heading--4 u-sv2">Professionalise data science with automated data pipelines</p>
      <p>Experiment with Kubeflow on <a href="https://microk8s.io/">MicroK8s</a>, from lab to large scale. Highly available with 3+ nodes.</p>
      <p>Unleash your data scientists with the latest ML tools in a single dashboard. All-in-one toolkit, one-time-config. Use the familiar tools that you already know - like Jupyterlab, R, TensorFlow, PyTorch and MXNet.</p>
      <p>No more siloed notebooks and scripts - build reproducible and shareable AI workflows with <a href="https://ubuntu.com/blog/data-science-workflows-on-kubernetes-with-kubeflow-pipelines-part-1">Kubeflow pipelines</a>.</p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a href="/docs/install" class="p-button--positive">Install Kubeflow&nbsp;&rsaquo;</a></li>
        <li class="p-inline-list__item"><a href="https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#1-overview">Follow tutorial</a></li>
        <li class="p-inline-list__item"><a href="https://ubuntu.com/kubeflow/what-is-kubeflow">What is Kubeflow?</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip--suru-dark">
  <div class="row u-equal-height">
    <div class="col-7 u-vertically-center">
      <div>
        <h2>Kubeflow, ready for business</h2>
        <p>Charm operators deliver advanced automation for the <a href="https://jaas.ai/u/kubeflow-charmers#charms" class="p-link--inverted">30+ apps</a> that make up Kubeflow.</p>
        <p>Charmed Kubeflow integrates these charm operators to provide the best Kubeflow experience, from deployment to ongoing operations.</p>
      </div>
    </div>
    <div class="col-5 u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/20f5bfae-Kubeflow-nicely-packaged-simple-transparent.svg",
          alt="",
          width="212",
          height="201",
          hi_def=True,
        ) | safe
      }}
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-7">
      <h2>All&ndash;you&ndash;need Kubeflow services</h2>
      <p class="p-heading--4 u-sv2">Enterprise support, deployment and fully managed Kubeflow</p>
      <p>Rely on 24/7 full-stack enterprise support with the SLAs you need.</p>
      <p>Off-load the complexity of deployment and management of Kubeflow to Canonical engineers.</p>
      <p><a href="https://assets.ubuntu.com/v1/4e502b09-Managed.Kubeflow.DS.19.01.22+%281%29.pdf" class="p-button--positive">Get the datasheet</a></p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a href="https://ubuntu.com/managed/apps">Managed Kubeflow</a></li>
        <li class="p-inline-list__item"><a href="http://ubuntu.com/kubeflow/consulting">Kubeflow services</a></li>
        <li class="p-inline-list__item"><a href="#get-in-touch" class="js-invoke-modal">Contact us&nbsp;&rsaquo;</a></li>
      </ul>
    </div>
    <div class="col-5 u-align--center u-hide--small u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/5307db8d-Kubeflow+services.svg",
          alt="",
          width="279",
          height="300",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-8">
      <h2>Automatic GPU acceleration</h2>
      <p class="p-heading--4 u-sv2">Detect, configure and accelerate your deep learning</p>
      <p>Accelerate your AI time to market. Pass GPUs to your ML pipelines, for deep learning training and validation.</p>
      <p>Train faster on the latest silicon, including NVIDIA Ampere. Charmed Kubeflow will automagically detect, configure and use available GPUs.</p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a href="https://microk8s.io/docs/addon-gpu">GPU on MicroK8s</a></li>
        <li class="p-inline-list__item"><a href="https://ubuntu.com/kubernetes/docs/gpu-workers">GPU on Charmed Kubernetes</a></li>
      </ul>
    </div>
    <div class="col-4 u-align--center u-hide--small u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/44a572ce-Automatic+GPU+acceleration.svg",
          alt="",
          width="346",
          height="279",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-5 u-align--center u-hide--small u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/97c081fa-Scale+data.svg",
          alt="",
          width="350",
          height="200",
          hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-7">
      <h2>Scale data pipelines to thousands of jobs</h2>
      <p class="p-heading--4 u-sv2">Offer data scientists a platform for large-scale continuous analytics</p>
      <p>With Kubernetes at the core, scaling your ML compute with high availability is painless. </p>
      <p>Multi-cloud Kubeflow delivers the elasticity of the public clouds and the governance of on-premise deployment.</p>
      <p>Train your team once to work anywhere.</p>
      <p>
        <a href="/docs/install" class="p-button">Deploy Kubeflow at scale</a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-5 u-vertically-center p-logo-section">
      <div class="p-logo-section__items" style="margin: .5rem">
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/2aae3674-Hadoop.svg",
              alt="Hadoop",
              width="211",
              height="51",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/853e440f-Cassandra.svg",
              alt="Cassandra",
              width="120",
              height="80",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/34b3ddce-Apache_Spark.png",
              alt="Apache Spark",
              width="148",
              height="78",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/c2a4ebd4-Kafka.svg",
              alt="Kafka",
              width="147",
              height="68",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
      </div>
    </div>
    <div class="col-7">
      <h2>Data lake integration</h2>
      <p class="p-heading--4 u-sv2">Kafka, Spark, Cassandra. Turn data into predictions.</p>
      <p>Bring the analytics power of Kubeflow to your data lake, with seamless integration.</p>
      <p>Looking to accelerate your data engineering and MLOps? Need to integrate with Spark or Kafka? We’ll connect the dots.</p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a href="#get-in-touch" class="js-invoke-modal">Talk to us about integration&nbsp;&rsaquo;</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2>Open source operations</h2>
      <p class="p-heading--4 u-sv2">Composable, model-driven solutions</p>
      <p>Make use of open source integration code and compound the benefit of <a href="https://charmhub.io/">300+ available operators</a>.</p>
      <p>Juju Charm operators from Canonical make deploying and managing Kubeflow predictable, repeatable and reliable for your IT operations team. Zero friction, from proof-of-concept to production.</p>
      <p>Engineered for flexibility around complex scenarios, the Juju charms ecosystem allows you to tailor Kubeflow to your needs with custom integrations.</p>
      <p>
        <a href="https://jaas.ai/kubeflow/bundle" class="p-button--neurtal">Kubeflow charms and models</a>
      </p>
    </div>
    <div class="col-6 u-align--center u-hide--small u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/162002c2-charms_juju.svg",
          alt="",
          width="563",
          height="232",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-5 u-vertically-center p-logo-section">
      <div class="p-logo-section__items" style="margin: .5rem">
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/e7a3c4d8-MicrosoftAzure.svg",
              alt="Microsoft Azure",
              width="174",
              height="50",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/8e5cc412-AWS.svg",
              alt="AWS",
              width="107",
              height="64",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/6e176d9a-Google+Cloud+stacked.svg",
              alt="Google Cloud",
              width="120",
              height="99",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/cb2c8b1f-Oracle.svg",
              alt="Oracle",
              width="192",
              height="25",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
      </div>
    </div>
    <div class="col-7">
      <h2>Cloud optimisation</h2>
      <p class="p-heading--4 u-sv2">Fast-deploy on every major cloud with GPU acceleration</p>
      <p>We work with Amazon, Microsoft, Google and Oracle to simplify multi-cloud GPU accelerated workload development.</p>
      <p>Easy setup on public cloud Kubernetes for a multi-cloud Kubeflow. Get the elasticity of the public clouds and the governance of on-premise.</p>
      <p>On-rails deployment and management with Python operators on public cloud Kubernetes services &mdash; AKS, EKS, GKE.</p>
      <p><a href="https://ubuntu.com/kubernetes">Kubeflow on multi-cloud K8s</a></p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-5 u-vertically-center p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/97e29c13-Dell.svg",
              alt="Dell",
              width="90",
              height="90",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/75a915cc-NVIDIA.png",
              alt="NVIDIA",
              width="142",
              height="74",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/182d5546-logo-hp.png",
              alt="HP",
              width="80",
              height="80",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item" style="margin: 1.875rem">
          {{
            image(
              url="https://assets.ubuntu.com/v1/7c91270a-Lenovo.svg",
              alt="Lenovo",
              width="165",
              height="35",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"},
            ) | safe
          }}
        </div>
      </div>
    </div>
    <div class="col-7">
      <h2>Full-stack Kubeflow operations</h2>
      <p class="p-heading--4 u-sv2">Rapidly deploy and operate with integrated, proven solutions.</p>
      <p>We work with system vendors like Dell, Lenovo and NVIDIA to bring the best out-of-the-box Kubeflow experience for the data centre.</p>
      <p>Enjoy a public cloud like experience on-premise with <a href="http://maas.io">Metal As A Service</a>.</p>
      <p>Charms integrate your networking and storage of choice with logging, monitoring and alerting solutions, Kubernetes and Kubeflow.</p>
      <ul class="p-inline-list">
	<li class="p-inline-list__item"><a href="https://lenovopress.com/lp1415-canonical-charmed-kubernetes-on-thinksystem-for-ai-development">Lenovo AI Development Reference Architecture</a></li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a href="https://ubuntu.com/engage/dell-kubeflow-reference-architecture">Dell and Canonical Reference Architecture</a></li>
        <li class="p-inline-list__item"><a href="/contact-us" class="js-invoke-modal">Contact us&nbsp;&rsaquo;</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-3 col-start-large-2 u-align--center u-hide--small u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/5d6da5c4-logo-canonical-aubergine.svg",
          alt="",
          width="480",
          height="65",
          hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-7 col-start-large-6">
      <h2>The experts in Kubernetes</h2>
      <p>Charmed Kubeflow is part of a suite of Kubernetes solutions built by Canonical.</p>
      <p><a href="http://microk8s.io">MicroK8s</a> is the tiny yet mighty, opinionated zero-ops Kubernetes distribution.</p>
      <p><a href="https://ubuntu.com/kubernetes/install#cluster">Charmed Kubernetes</a> delivers full flexibility and comprehensive control at scale.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-3 col-start-large-2 u-align--center u-hide--small u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/24a03775-Contact+us.svg",
          alt="",
          width="240",
          height="171",
          hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-7 col-start-large-6">
      <h3>Need help?</h3>
      <p>Get in touch with one of our experts.</p>
      <p>
        <a href="/contact-us" class="p-button--positive js-invoke-modal">Contact us</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
